<!doctype HTML>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
	<script src="https://unpkg.com/aframe-chromakey-material/dist/aframe-chromakey-material.min.js"></script>
    <script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
    <script src="https://cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.2/dist/aframe-extras.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script type="text/javascript" charset="UTF-8">
		var timelines = [];
		var api_endpoint = ".";
		var total_time = 31;
		var current_time = 0;
		var isPlaying = false;
		var time_interval;
		var usuario;
		var sexo = (Math.random() > 0.5) ? "m" : "f";
		var ganador = false;
		var paused = false;
		var globa_hidden = true;
		var canAnswer = false;
		var intro_timeout = false;
		
		var preguntas = [
			"¿Qué debés hacer si te llega un mensaje de texto con un link desde un número desconocido?",
			"¿Cuál de los siguientes ejemplos se considera una contraseña segura?",
			"¿Qué NO debés hacer si recibís una llamada inesperada del Service Desk para solucionar un problema en tu computadora?",
			"Nunca pegues notas en Post-it con tus credenciales, esta afirmación es:",
			"¿Qué debés hacer si te llega un mail de un remitente desconocido?",
			"Si no veo el botón PhishMe en mi Outlook, ¿Adónde reporto un email sospechoso?",
			"¿Qué debés hacer si encontrás una persona desconocida que no puede certificar ser empleado de la compañía?",
			"¿Qué debés hacer si te llega un mail de alerta de seguridad?",
			"Todos tenemos habilitados los puertos USB en nuestras computadoras, para permitir la rápida copia y transferencia de archivos. Esta afirmación es:",
			"Existen herramientas corporativas para hacer un backup de nuestra información, esta afirmación es:",
			"¿Qué debés hacer si estás trabajando con información confidencial en tu computadora y alguien se aproxima a hablarte?",
			"¿Cuál de las siguientes declaraciones es falsa sobre la seguridad de la contraseña?",
			"¿Cómo puedo reconocer un potencial email de phishing?",
			"Si accidentalmente cliqueé en un email de phishing, ¿qué hago?",
			"Por seguridad, debemos almacenar nuestra información en los servidores de archivos (por ej. H, R, etc.) en lugar de hacerlo en nuestras computadoras. Esta afirmación es:"
		];
		
		var respuestas = [
		//	Etapa 1
		[
			["Entro al link para borrarme de la base de datos", false],
			["Elimino el mensaje", true],
			["Respondo el mensaje para identificar al remitente", false],
		],[	
			["1234", false],
			["C&amp;gt3%*H", true],
			["JaneBeBomb", false],
			["C&amp;*HHH", false],
		],[
			["Darle acceso remoto a la computadora", true],
			["Pedirle a la persona que llama su informaci&oacute;n completa", false],
			["Abrir un ticket al Service Desk para investigar si hay alg&uacute;n problema", false],
			["Denunciarla de inmediato a <u>phishing@zurich.com</u> incluyendo toda la informaci&oacute;n del caso", false],
		],[
			["Verdadera", true],
			["Falsa", false],
		],[
			["Lo contesto con copia a mi supervisor", false],
			["Lo ignoro o elimino", false],
			["Si me resulta sospechoso, lo reporto usando el bot&oacute;n PhishMe en Outlook", true],
		],
		//	Etapa 2
		[
			["Se lo reenv&iacute;o a Diego Estrella", false],
			["Lo reporto a trav&eacute;s del Service Desk", false],
			["Realizo la denuncia a <u>phishing@zurich.com</u>", true],
			["Todas las anteriores", false],
		],[
			["Lo ignoro y reporto la intrusi&oacute;n", false],
			["Lo acompaño a la oficina de seguridad para obtener la credencial de visita", true],
			["Busco a un supervisor o asistente de &aacute;rea para que lo ayude", false],
		],[
			["Seguir las instrucciones del correo para cambiar contraseñas", false],
			["Ignorar el mail o eliminarlo", false],
			["Verificar si la direcci&oacute;n de correo es de dominio interno y reportarlo si es un email sospechoso", true],
		],[
			["Verdadera", false],
			["Falsa", true],
		],[
			["Verdadera", true],
			["Falsa", false]
		],
		// Etapa 3
		[
			["Seguir trabajando en tu computadora", false],
			["Invitar a tu compa&ntilde;ero de trabajo a tomar una taza de caf&eacute;", false],
			["Bloquear tu computadora antes de discutir sus preguntas", true],
			["Te par&aacute;s a estirar las piernas mientras discuten las preguntas", false],
		],[
			["Nunca escribas una contrase&ntilde;a/frase de contrase&ntilde;a en una hoja de papel", false],
			["No utilizar la misma contrase&ntilde;a para m&aacute;s de una cuenta", false],
			["Utilizar la funci&oacute;n &laquo;Recordar contrase&ntilde;a&raquo; que ofrece la mayor&iacute;a de los navegadores web", true],
		],[
			["Por sus faltas de ortograf&iacute;a", false],
			["Por contener un saludo gen&eacute;rico", false],
			["Por la etiqueta (external)", false],
			["Todas las anteriores", true],
		],[
			["1° Lo reporto &gt; 2° Desenchufo el equipo de la red de Zurich &gt; 3° Llamo al Service Desk", true],
			["1° Llamo al Service Desk &gt; 2° Sigo trabajando", false],
			["Ninguna de las anteriores", false],
		],[
			["Verdadera", true],
			["Falsa", false]
		]];
		
        AFRAME.registerComponent("vidhandler", {
            init: function() {
                this.toggle = false;
                this.vid1 = document.querySelector("#vid1_" + sexo);
            },
            tick: function() {
				if (isPlaying) {
					if (this.el.object3D.visible == true) {
						if (!this.toggle) {
							this.toggle = true;
							this.vid1.play();
							timelines[1].play();
							
							if (globa_hidden) {
								document.querySelector("#globa").emit("show");
								document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', true);
								globa_hidden = false;
								canAnswer = true;
							}
				
							var lupa = document.querySelector(".lupa");
							if (window.getComputedStyle(lupa, "").display == "block") {
								lupa.style.display = "none";
								var tl = new TimelineMax({paused: true, delay: 1});
								tl.add(TweenMax.to(".timer", 1, {left:"0%", ease:Power2.easeOut}));
								tl.play();
								
								var tl = new TimelineMax({paused: false});
								tl.add(TweenMax.to(".preguntas", 1, {top:"65%", ease:Back.easeOut}));
								tl.play();
								
								if (time_interval == null) {
									current_time = total_time;
									time_interval = setInterval(updateChrono.bind(this), 1000);
									paused = false;
								}
							}
						}
					} else {
						this.toggle = false;
						this.vid1.pause();
					}
				}
            }
        });
		
		document.addEventListener("DOMContentLoaded", function(event) {
			
			document.querySelector("#vid1_m").pause();
			document.querySelector("#vid2_m").pause();
			document.querySelector("#vid3_m").pause();
			document.querySelector("#vid1_f").pause();
			document.querySelector("#vid2_f").pause();
			document.querySelector("#vid3_f").pause();
			
			// Animations
			//	Login
			var tl = new TimelineMax({paused: true, delay: 1});
			tl.add(TweenMax.to(".login", 1, {right:"100%", ease:Power2.easeOut}));
			timelines.push(tl);
			
			//	Mostrar preguntas
			tl = new TimelineMax({paused: true, delay: 1});
			//tl.call(showPreguntas);
			tl.add(TweenMax.to(".preguntas", 1, {top:"65%", ease:Back.easeOut}));
			timelines.push(tl);
			
			setTimeout(removeSplash, 4000);
		});
		
		function removeIntro() {
			if (document.querySelector("#intro").ended || intro_timeout) {
				tl = new TimelineMax({paused: true});
				tl.add(TweenMax.to(".intro", 1, {right:"100%", ease:Power2.easeOut}));
				tl.play();
				isPlaying = true;
			}
		}
		
		function removeSplash() {
			var tl = new TimelineMax({paused: true});
			tl.add(TweenMax.to(".splash", 1, {opacity:"0", display:"none", ease:Power2.easeOut}));
			tl.play();
		}
		
		function removeLogin() {
			
			if (document.querySelector(".login .byc input").checked) {
				$.ajax({
					url: api_endpoint + "/user?mail=" + $("input[name='mail']").val() + "&dni=" + $("input[name='dni']").val(),
					context: this,
					crossDomain: true
				})
				.done(function(data, textStatus, jqXHR) {
					this.usuario = JSON.parse(data);
					if (this.usuario.pregunta_actual >= 15) {
						alert("Ya contestaste todas las preguntas");
					} else {
						document.querySelector("#pregunta_texto").setAttribute("value", this.preguntas[this.usuario.pregunta_actual]);
						var respuestas_ = this.respuestas[this.usuario.pregunta_actual];
						document.querySelector(".preguntas ul").innerHTML = "";
						for (i = 0; i < respuestas_.length; ++i) {
							document.querySelector(".preguntas ul").innerHTML += '<li><a href="#" onClick="answerQuestion(this,' + i + ')"><img src="./Boton-seleccion-rta.png" border=0 />' + respuestas_[i][0] + '</a></li>';
							if (respuestas_[i][1])
							{
								document.querySelector(".respuesta_correcta").innerHTML = respuestas_[i][0];
							}
						}
						this.timelines[0].play();
						
						if (this.usuario.pregunta_actual == 0) {
							document.querySelector("#intro").play();
							
						} else {
							tl = new TimelineMax({paused: true});
							tl.add(TweenMax.to(".intro", 1, {right:"100%", ease:Power2.easeOut}));
							tl.play();
							isPlaying = true;
						}
						
						setTimeout(function () {
							intro_timeout = true;
						}, 3000);
					}
				})
				.fail(function(jqXHR, textStatus, errorThrown) { 
					alert("Status: " + textStatus + "\n" + errorThrown); 
				});
			} else {
				alert("Tenés que aceptar las bases y condiciones");
			}
		}

		function PlayOutroVideo() {
			document.querySelector("#ganaste").play();
		}
		
		function HideBYC() {
			document.querySelector(".login .byc input").checked = true
			
			var tl = new TimelineMax({paused: true});
			tl.add(TweenMax.to(".bases", 1, {opacity:0, ease:Power2.easeOut}));
			tl.add(TweenMax.set(".bases", {css:{display:"none"}, ease:Power2.easeOut}));
			tl.play();
		}
		
		function ShowBYC() {
			var tl = new TimelineMax({paused: true});
			tl.add(TweenMax.set(".bases", {css:{display:"block"}, ease:Power2.easeOut}));
			tl.add(TweenMax.to(".bases", 1, {opacity:1, ease:Power2.easeOut}));
			tl.play();
		}
		
		function showPreguntas() {
			
			usuario.pregunta_actual = parseInt(usuario.pregunta_actual) + 1;
			if (usuario.pregunta_actual % 5 == 0) {
				
				isPlaying = false;
				$.ajax({
					url: api_endpoint + "/correctas?user_id=" + usuario.user_id + "&pregunta_id=" + (usuario.pregunta_actual - 5),
					context: this,
					crossDomain: true
				})
				.done(function(data, textStatus, jqXHR) {
					var preguntas_ = JSON.parse(data);
					var tl = new TimelineMax({paused: true});
					document.querySelector(".globa .correctas").innerHTML = preguntas_.correctas + "/5";
					
					var etapa = "";
					if (usuario.pregunta_actual < 10) {
						etapa = "primera";
					} else if (usuario.pregunta_actual < 15) {
						etapa = "segunda";
					} else {
						etapa = "tercera";
					}
					document.querySelector(".globa .etapa").innerHTML = "Completaste la " + etapa + " etapa<br />Respondiste correctamente";
					
					ganador = preguntas_.ganador;
					
					clearInterval(time_interval);
					time_interval = null;
					
					if (usuario.pregunta_actual != 15) {
						tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"80%", ease:Power2.easeOut}));
					}
					tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0.4}, ease:Power2.easeOut}));
					tl.play();
				});
				
				setTimeout(function () {
					
					if (usuario.pregunta_actual == 15) {
						
						var tl = new TimelineMax({paused: true, delay: 1});
						tl.add(TweenMax.to(".timer", 1, {left:"-15%", ease:Power2.easeOut}));
						tl.play();
						
						document.querySelector("#globa").emit("hide");
						ResetPlanes();
						document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', false);
						clearInterval(time_interval);
						time_interval = null;
						
						var tl = new TimelineMax({paused: true});
						if (ganador) {
							tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"100%", ease:Power2.easeOut}));
							tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0}, ease:Power2.easeOut}));
							tl.add(TweenMax.set(".ganaste", {css:{display:"block"}, ease:Power2.easeOut}));
							tl.call(PlayOutroVideo);
							tl.add(TweenMax.to(".ganaste .globa", 0.5, {css:{scale:0.8}, ease:Power2.easeOut, delay:1}));
							tl.to({}, 3, {});
						}
						tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"100%", ease:Power2.easeOut}));
						tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0}, ease:Power2.easeOut}));
						tl.add(TweenMax.set(".felicitaciones", {css:{display:"block"}, ease:Power2.easeOut}));
						tl.add(TweenMax.to(".felicitaciones", 1, {opacity:1, ease:Power2.easeOut}));
						tl.play();
						
					} else {
					
						isPlaying = true;
						
						var tl = new TimelineMax({paused: true});
						tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"100%", ease:Power2.easeOut}));
						tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0}, ease:Power2.easeOut}));
						tl.add(TweenMax.set(".lupa", {css:{display:"block"}, ease:Power2.easeOut}));
						tl.play();
						
						var tl = new TimelineMax({paused: true, delay: 1});
						tl.add(TweenMax.to(".timer", 1, {left:"-15%", ease:Power2.easeOut}));
						tl.play();
					
						document.querySelector("#globa").emit("hide");
						ResetPlanes();
						globa_hidden = true;
						document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', false);
						clearInterval(time_interval);
						time_interval = null;
						
						document.querySelector("#pregunta_texto").setAttribute("value", this.preguntas[this.usuario.pregunta_actual]);
						var respuestas_ = this.respuestas[this.usuario.pregunta_actual];
						document.querySelector(".preguntas ul").innerHTML = "";
						for (i = 0; i < respuestas_.length; ++i) {
							document.querySelector(".preguntas ul").innerHTML += '<li><a href="#" onClick="answerQuestion(this,' + i + ')"><img src="./Boton-seleccion-rta.png" border=0 />' + respuestas_[i][0] + '</a></li>';
							if (respuestas_[i][1])
							{
								document.querySelector(".respuesta_correcta").innerHTML = respuestas_[i][0];
							}
						}
						
						var tl = new TimelineMax({paused: false});
						tl.add(TweenMax.set(".preguntas ul li a img", {attr:{src:"./Boton-seleccion-rta.png"}}));
						tl.play();
					} 
				}, 6000);
			} else {
				
				ResetPlanes();
				
				canAnswer = true;
				document.querySelector("#globa").emit("show");
				document.querySelector("#pregunta_texto").setAttribute("value", preguntas[usuario.pregunta_actual]);
				
				var respuestas_ = respuestas[usuario.pregunta_actual];
				document.querySelector(".preguntas ul").innerHTML = "";
				for (i = 0; i < respuestas_.length; ++i) {
					document.querySelector(".preguntas ul").innerHTML += '<li><a href="#" onClick="answerQuestion(this,' + i + ')"><img src="./Boton-seleccion-rta.png" border=0 />' + respuestas_[i][0] + '</a></li>';
					if (respuestas_[i][1])
					{
						document.querySelector(".respuesta_correcta").innerHTML = respuestas_[i][0];
					}
				}
				
				var tl = new TimelineMax({paused: false});
				tl.add(TweenMax.set(".preguntas ul li a img", {attr:{src:"./Boton-seleccion-rta.png"}}));
				tl.add(TweenMax.to(".preguntas", 1, {top:"65%", ease:Back.easeOut}));
				tl.play();
				
				paused = false;
				isPlaying = true;

				if (time_interval == null) {
					current_time = total_time;
					time_interval = setInterval(updateChrono.bind(this), 1000);
				}
			}
		}
		
		function answerQuestion(el, id) {
			
			if (canAnswer) {
				
				canAnswer = false;
				paused = true;
				clearInterval(time_interval);
				time_interval = null;
				var correct = this.respuestas[this.usuario.pregunta_actual][id][1];
				
				$.ajax({
					method: "POST",
					url: api_endpoint + "/answer",
					data: {"user_id":usuario.user_id,"question":usuario.pregunta_actual,"answer":id,"correct":(correct) ? "1" : "0"},
					context: this,
					success: function(response) {
						console.log(response);
					}
				});
				
				document.querySelector("#globa").emit("hide");
				
				if (correct) {
					doCorrect(el)
				} else {
					doWrong(el);
				}
			}
		}
		
		function doCorrect(el) {
			
			ShowVideoAnswer("vid2");
			
			var tl = new TimelineMax({paused: false});
			
			tl.add(TweenMax.to(el.firstElementChild, 1, {rotationY: 90, ease:Power2.easeInOut}));
			tl.add(TweenMax.set(el.firstElementChild, {attr:{src:"./Boton-seleccion-rta-correcta.png"}}));
			tl.add(TweenMax.to(el.firstElementChild, 1, {rotationY: 0, ease:Power2.easeInOut}), 1);
			tl.add(TweenMax.to(".preguntas", 1, {top:"100%", ease:Back.easeOut}), 6);
			tl.call(showPreguntas);
			tl.play();
			
			$.ajax({
				method: "POST",
				url: api_endpoint + "/points",
				data: {"user_id":usuario.user_id,"points":"1"},
				context: this,
				success: function(response) {
					console.log(response);
				}
			});
		}
		
		function doWrong(el) {
			
			ShowVideoAnswer("vid3");
			
			var tl = new TimelineMax({paused: false});
			
			tl.add(TweenMax.to(el.firstElementChild, 1, {rotationY: 90, ease:Power2.easeInOut}));
			tl.add(TweenMax.set(el.firstElementChild, {attr:{src:"./Boton-seleccion-rta-incorrecta.png"}}));
			tl.add(TweenMax.to(el.firstElementChild, 1, {rotationY: 0, ease:Power2.easeInOut}), 1);
			tl.add(TweenMax.to(".preguntas", 1, {top:"100%", ease:Back.easeOut}));
			tl.add(TweenMax.to(".correcta", 1, {top:"80%", ease:Back.easeOut}));
			tl.play();
		}
		
		
		function ResetPlanes() {
			
			document.querySelector("#vid2_" + sexo).pause();
			document.querySelector("#vid2_" + sexo).currentTime = 0;

			document.querySelector("#vid2_" + sexo + "_plane").setAttribute('visible', false);
			
			document.querySelector("#vid3_" + sexo).pause();
			document.querySelector("#vid3_" + sexo).currentTime = 0;

			document.querySelector("#vid3_" + sexo + "_plane").setAttribute('visible', false);
			
			sexo = (sexo == "m") ? "f" : "m";
			document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', true);
			document.querySelector("#vid1_" + sexo).play();
		}
		
		function ShowVideoAnswer(id) {
			document.querySelector("#vid1_" + sexo).pause();
			document.querySelector("#vid1_" + sexo).currentTime = 0;
			document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', false);
			
			document.querySelector("#" + id + "_" + sexo + "_plane").setAttribute('visible', true);
			document.querySelector("#" + id + "_" + sexo).play();
		}
		
		function nextQuestion() {
			var tl = new TimelineMax({paused: false});
			tl.add(TweenMax.to(".correcta", 1, {top:"100%", ease:Back.easeOut}));
			tl.call(showPreguntas);
			tl.play();
		}
		
		function updateChrono() {
			
			if (!paused)
				$(".timer")[0].innerHTML = --current_time;

			if (current_time == 0) {
			
				$.ajax({
					method: "POST",
					url: api_endpoint + "/timeout",
					data: {"user_id":usuario.user_id,"question":usuario.pregunta_actual},
					context: this,
					success: function(response) {
						console.log(response);
					}
				});
			
				ResetPlanes();
				isPlaying = false;
				document.querySelector("#globa").emit("hide");
				document.querySelector("#vid1_" + sexo + "_plane").setAttribute('visible', false);
				clearInterval(time_interval);
				time_interval = null;
						
				var tl = new TimelineMax({paused: true});
				tl.add(TweenMax.to(".preguntas", 1, {top:"100%", ease:Back.easeOut}));
				tl.call(showPreguntas);
				//tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"80%", ease:Power2.easeOut}));
				//tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0.4}, ease:Power2.easeOut}));
				tl.play();

				//if ((parseInt(usuario.pregunta_actual) + 1) % 5 == 0) {
				//	var tl = new TimelineMax({paused: true, delay: 1});
				//	tl.add(TweenMax.to(".timer", 1, {left:"-15%", ease:Power2.easeOut}));
				//	tl.play();
				//	
				//	$.ajax({
				//		url: api_endpoint + "/correctas?user_id=" + usuario.user_id + "&pregunta_id=" + (usuario.pregunta_actual - 5),
				//		context: this,
				//		crossDomain: true
				//	})
				//	.done(function(data, textStatus, jqXHR) {
				//		var correctas = JSON.parse(data).correctas;
				//		document.querySelector(".globa .correctas").innerHTML = correctas + "/5";
				//		
				//		var etapa = "";
				//		var current = usuario.pregunta_actual - (usuario.pregunta_actual % 5) + 5;
				//		if (usuario.pregunta_actual < 10) {
				//			etapa = "primera";
				//		} else if (usuario.pregunta_actual < 15) {
				//			etapa = "segunda";
				//		} else {
				//			etapa = "tercera";
				//		}
				//		document.querySelector(".globa .etapa").innerHTML = "Completaste la " + etapa + " etapa<br />Respondiste correctamente";
				//	});
				//	
				//	setTimeout(function () {
				//		
				//		isPlaying = true;
				//		time_interval = null;
				//		
				//		this.usuario.pregunta_actual = this.usuario.pregunta_actual - (this.usuario.pregunta_actual % 5) + 5;
				//		if (this.usuario.pregunta_actual < 15) {
				//		
				//			var tl = new TimelineMax({paused: true});
				//			tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"100%", ease:Power2.easeOut}));
				//			tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0}, ease:Power2.easeOut}));
				//			tl.add(TweenMax.set(".lupa", {css:{display:"block"}, ease:Power2.easeOut}));
				//			tl.play();
				//		
				//			document.querySelector("#pregunta_texto").setAttribute("value", this.preguntas[this.usuario.pregunta_actual]);
				//			var respuestas_ = this.respuestas[usuario.pregunta_actual];
				//			document.querySelector(".preguntas ul").innerHTML = "";
				//			if (respuestas_) {
				//				for (i = 0; i < respuestas_.length; ++i) {
				//					document.querySelector(".preguntas ul").innerHTML += '<li><a href="#" onClick="answerQuestion(this,' + i + ')"><img src="./Boton-seleccion-rta.png" border=0 />' + respuestas_[i][0] + '</a></li>';
				//					if (respuestas_[i][1])
				//					{
				//						document.querySelector(".respuesta_correcta").innerHTML = respuestas_[i][0];
				//					}
				//				}
				//			}
				//			
				//			var tl = new TimelineMax({paused: false});
				//			tl.add(TweenMax.set(".preguntas ul li a img", {attr:{src:"./Boton-seleccion-rta.png"}}));
				//			tl.play();
				//		}
				//		else {
				//			
				//			isPlaying = false;
				//			var tl = new TimelineMax({paused: true});
				//			tl.add(TweenMax.to(".puntaje .consigna", 1, {top:"100%", ease:Power2.easeOut}));
				//			tl.add(TweenMax.to(".puntaje .globa", 1, {css:{scale:0}, ease:Power2.easeOut}));
				//			tl.add(TweenMax.to(".felicitaciones .globa", 1, {css:{scale:0.4}, ease:Power2.easeOut}));
				//			tl.play();
				//		}
				//	}, 10000);
				//}
			}
		}
		
    </script>
	
	<style type="text/css">
	
	@font-face {
      font-family: "FrutiBlack";
      src: url('./FrutigerLTStd-Black.otf') format('opentype');
    }
	@font-face {
      font-family: "FrutiBold";
      src: url('./FrutigerLTStd-Bold.otf') format('opentype');
    }
	@font-face {
      font-family: "Fruti";
      src: url('./FrutigerLTStd-Roman.otf') format('opentype');
    }
	
	body {
	  margin: 0;
	  overflow: hidden;
	}
	
	.bases {
	  position: absolute;
	  right: 0%;
	  padding: 5% 10%;
      width: 80%;
      height: 90%;
	  background: url("./Fondo-Intro.jpg") no-repeat;
	  background-size: cover;
	  overflow: scroll;
	  color: white;
      font-family: "Fruti";
	  opacity: 0;
	  display: none;
	}
	
	.bases b {
      font-family: "FrutiBold";
	  font-size: 18px;
	}
	
	.bases a {
	  color: white;
	  text-decoration: none;
	}
	
	.bases center {
	  margin: 10% 0 0 0;
      font-size: 32px;
      font-family: "FrutiBlack";
	}
	
	.splash {
	  position: absolute;
	  right: 0%;
	  width:100%;
	  height:100%;
	  background: url("./Fondo-Intro.jpg") no-repeat;
	  background-size: cover;
	}
	
	.splash .logo {
	  position: absolute;
      background: url(./Logo-intro-Splsh.png) no-repeat;
      background-size: contain;
      width: 80%;
      height: 80%;
      background-position: 50% 50%;
      background-origin: content-box;
      padding: 10%;
	}
	
	.intro {
	  position: absolute;
	  width:100%;
	  height:100%;
	}
	
	.intro video {
	  width:100%;
	  height:100%;
	  object-fit: cover;
	}
	
	.login {
	  position: absolute;
	  right: 0%;
	  width:100%;
	  height:100%;
	  background: url("./Fondo-Intro.jpg") no-repeat;
	  background-size: cover;
	}
	
	.login h1 {
      text-align: center;
      font-family: "FrutiBlack";
      color: white;
	}
	
	.login p {
      text-align: center;
      font-family: "Fruti";
      color: white;
	}
	
	.login label {
	  display: block;
      text-align: center;
      margin: 8% 0;
      font-family: "Fruti";
      color: white;
	}
	
	.login input {
	  display: block;
      width: 70%;
      margin: 0 auto;
      height: 5%;
      background: transparent;
      border: none;
      border-bottom-color: white;
      border-bottom-style: outset;
      border-bottom-width: thin;
      text-align: center;
	  font-family: "Fruti";
      color: white;
	}
	
	.login .byc {
	  position: relative;
	  margin-left: 10%;
	}
	
	.login .byc input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
	
	.login .byc input:checked ~ .byc_checkmark {
	  background-color: #2196F3;
	}
	
	.login .byc:hover input:checked ~ .byc_checkmark {
	  background-color: #2196F3;
	}
	
	.login .byc input:checked ~ .byc_checkmark:after {
	  display: block;
	}
	
	.login .byc:hover input ~ .byc_checkmark {
	  background-color: #eee;
	}
	
	.byc_checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  margin: -1% -2%;
	  background-color: #eee;
	}
	
	.byc_checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}
	
	.login .byc .byc_checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	
	.login .byc a {
	  color: #fff;
	  text-decoration: none;
	}
	
	.login #mail {
      font-size: 12px;
	}
	
	.login #dni {
      font-size: 24px;
	}
	
	.login .form {
	  position: absolute;
	  left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
	}
	
	.login_comenzar {
	  position: relative;
	  background: url("./Boton-Comenzar.png") no-repeat;
	  background-size: cover;
	  width: 286px;
	  height: 98px;
	  margin: 0 auto;
	  transform: scale(.5);
	}
	
	.preguntas {
	  position: absolute;
	  background: url("./Caja-azul-chica.png") no-repeat;
	  background-size: cover;
	  width: 100%;
	  top: 100%;
	  padding-top: 70%;
	}
	
	.preguntas ul {
	  margin-top: -69%;
	  padding: 0 5%;
	}
	
	.preguntas li {
	  margin: 10px 0;
	  list-style: none;
	}
	
	.preguntas li a {
	  display: flex;
      font-family: "Fruti";
      color: white;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
	}
	
	.preguntas li img {
	  transform-origin: 30%;
	  vertical-align: middle;
	  padding-right: 2%;
	  width: 6vh;
	  height: 6vh;
	}
	
	.correcta {
	  position: absolute;
	  background: url("./Caja-azul-chica.png") no-repeat;
	  background-size: cover;
	  width: 100%;
	  top: 100%;
	  padding-top: 70%;
	}
	
	.correcta a {
      position: absolute;
      right: 3%;
      top: 32%;
	}
	
	.correcta a img {
	  width: 5vh;
	  height: 5vh;
	}
	
	.correcta .container {
	  margin-top: -69%;
	  padding: 0 5%;
	}
	
	.label_correcta {
	  text-align: center;
      font-family: "Fruti";
      color: white;
	}
	
	.respuesta_correcta {
	  text-align: center;
      font-family: "FrutiBold";
      color: white;
	  font-size: 14px;
	}
	
	.puntaje .consigna {
	  position: absolute;
	  background: url("./Caja-azul-chica.png") no-repeat;
	  background-size: cover;
	  width: 90%;
	  top: 100%;
	  padding: 10% 5%;
      text-align: center;
	  font-family: "Fruti";
	  color: white;
	}
	
	.puntaje .globa {
	  position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) scale(0, 0);
	  background: url("./Globa-Grande.png") no-repeat;
	  background-size: cover;
	  width: 728px;
	  height: 378px;
	  padding: 1% 0;
	  color: #002E6A;
	}
	
	.puntaje .globa h1 {
	  margin: 0;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "FrutiBlack";
      font-size: 48px;
      text-align: center;
      width: 100%;
	}
	
	.puntaje .globa .correctas {
	  top: 80%;
	}
	
	.puntaje .globa p {
	  margin: 0;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Fruti";
      font-size: 34px;
      text-align: center;
      width: 100%;
	}
	
	.felicitaciones {
	  position: absolute;
      left: 50%;
      top: 50%;
	  width: 100%;
      height: 100%;
	  background: url("./Felicitaciones.jpg") no-repeat;
	  background-size: cover;
      transform: translate(-50%, -50%);
	  display:none;
	  opacity: 0;
	}
	
	.ganaste {
	  position: absolute;
	  width:100%;
	  height:100%;
	  display: none;
	}
	
	.ganaste video {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	
	.ganaste .globa {
	  position: absolute;
      top: 70%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) scale(0, 0);
	  width: 90%;
	  height: 15%;
	  padding: 1% 0;
	  color: #002E6A;
	}
	
	.ganaste .globa h1 {
	  margin: 0;
      position: absolute;
      top: 88%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "FrutiBlack";
      font-size: 36px;
      text-align: center;
      width: 100%;
	}
	
	.ganaste .globa p {
	  margin: 0;
      position: absolute;
      top: 107%;
      left: 12%;
      font-family: "Fruti";
      font-size: 16px;
      text-align: center;
      width: 80%;
	}
	
	.lupa {
	  position: absolute;
      left: 50%;
      top: 50%;
	  width: 100%;
      height: 100%;
      background: url(./Lupa.png) no-repeat;
      background-size: contain;
      transform: translate(-50%, -50%);
	  display: block;
	}
	
	.timer {
	  background-color: white;
      position: fixed;
      width: 15%;
      height: 4vh;
      line-height: 4vh;
      top: 1%;
      left: -15%;
      text-align: center;
      font-family: "Fruti";
	  color: #002E6A;
	}
	
	.ui {
	  position: fixed;
      z-index: 10;
	  width:100%;
	  height:100%;
      top: 0;
	  left: 0;
	}
	</style>
</head>

<body>
    <a-scene embedded arjs="trackingMethod: best; debugUIEnabled: false; patternRatio:0.9" vr-mode-ui="enabled: false">
        <a-assets>
            <video preload="auto" id="vid1_m" response-type="arraybuffer" loop="true" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Pregunta Masculino.mp4">
            </video>
            <video preload="auto" id="vid2_m" response-type="arraybuffer" loop="false" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Respuesta Correcta Masculino 1.mp4">
            </video>
            <video preload="auto" id="vid3_m" response-type="arraybuffer" loop="false" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Respuesta Incorrecta Masculino 1.mp4">
            </video>
            <video preload="auto" id="vid1_f" response-type="arraybuffer" loop="true" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Pregunta Femenino.mp4">
            </video>
            <video preload="auto" id="vid2_f" response-type="arraybuffer" loop="false" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Respuesta Correcta Femenino 1.mp4">
            </video>
            <video preload="auto" id="vid3_f" response-type="arraybuffer" loop="false" crossorigin webkit-playsinline playsinline controls>
                <source type="video/mp4" src="./Respuesta Incorrecta Femenino 1.mp4">
            </video>
			<img id="pregunta" src="./Globa-Grande.png">
        </a-assets>
        <a-marker type="pattern" url="./zurich.patt" smooth="true" smoothCount="5000" smoothTolerance="10" smoothThreshold="2000" vidhandler>
            <a-plane id="vid1_m_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid1_m"></a-plane>
            <a-plane id="vid2_m_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid2_m"></a-plane>
            <a-plane id="vid3_m_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid3_m"></a-plane>
            <a-plane id="vid1_f_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid1_f"></a-plane>
            <a-plane id="vid2_f_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid2_f"></a-plane>
            <a-plane id="vid3_f_plane" visible="false" position="0 0.1 0" rotation="-90 0 0" width="2" height="4" material="shader:chromakey;color:0.1 0.9 0.2;src:#vid3_f"></a-plane>
			<a-entity id="globa" position="0 0.2 1" rotation="-90 0 0" scale="0 0 0">
				<a-animation attribute="scale" begin="show" dur="1000" from="0 0 0" to="1 1 1"></a-animation>
				<a-animation attribute="scale" begin="hide" dur="1" from="1 1 1" to="0 0 0"></a-animation>
				<a-entity position="0 0 0.1">
					<a-text id="pregunta_texto" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis imperdiet dui. Integer elementum odio." font="./fruti.fnt" fontImage="./fruti.png" color="#002E6A" width="1.2" height="1" align="center" wrap-count="30"></a-text>
				</a-entity>
			</a-entity>
        </a-marker>
        <a-entity camera></a-entity>
    </a-scene>
	<div class="ui">
		<div class="lupa">
		</div>
		<div class="ganaste">
			<video id="ganaste" preload="auto" crossorigin webkit-playsinline playsinline>
				<source type="video/mp4" src="./Video Tickets.mp4">
				Your browser does not support the video tag.
			</video>
			<div class="globa"><h1>¡FELICITACIONES!</h1><br /><p>Ganaste un par de entradas de cine.<br />Y si hiciste el curso en GEMS hasta el Viernes 13, pas&aacute;s al sorteo final.<p></div>
		</div>
		<div class="intro" onClick="removeIntro()">
			<video id="intro" preload="auto" crossorigin webkit-playsinline playsinline muted>
				<source type="video/mp4" src="./Intro.mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="login">
			<div class="form">
				<h1>Log In</h1>
				<p>Ingres&aacute; tu mail de Zurich<br>y tu DNI para comenzar</p>
				<label for="mail">Mail</label>
				<input type="email" name="mail" id="mail" />
				<label for="dni">DNI</label>
				<input type="text" name="dni" id="dni" />
				<label class="byc">
					<a href="#" onClick="ShowBYC()">Acepto bases y condiciones</a>
					<input type="checkbox" />
					<span class="byc_checkmark"></span>
				</label>
				<div class="login_comenzar" onClick="removeLogin()"></div>
			</div>
		</div>
		<div class="splash">
			<div class="logo"></div>
		</div>
		<div class="bases"><h1>Bases y Condiciones – Acci&oacute;n &ldquo;Business Resilience &amp; Cyber Risk&rdquo;</h1><br />
			<p><b>1. Definici&oacute;n y alcance:</b><br /><br />
			<b>&rdquo;Business Resilience &amp; Cyber Risk&rdquo;</b> (en adelante, &ldquo;la acci&oacute;n&rdquo;) es una acci&oacute;n organizada
			por Zurich Argentina Compa&ntilde;&iacute;a de Seguros S.A., Zurich International Life Limited Sucursal
			Argentina, Zurich Latin American Services S.A y Zurich Aseguradora Argentina S.A., (en
			adelante y en conjunto, &ldquo;Zurich&rdquo;) a realizarse desde el d&iacute;a 11 de diciembre de 2019 al 13 de
			diciembre de 2019 inclusive, con el objeto que los participantes detallados en el punto 2. de
			las presentes, participen de un juego organizado por Zurich el cual les permitir&aacute; participar
			de sorteos por important&iacute;simos premios.</p>
			<p><b>2. Participantes:</b><br /><br />
			Podr&aacute;n participar de la acci&oacute;n, los empleados de Zurich que reciban un mail desde la casilla
			interna de la empresa (en adelante, los &ldquo;Participantes&rdquo;).
			Quedan excluidos de la presente campa&ntilde;a aquellos empleados que hayan participado del
			proyecto: <b>&ldquo;Business Resilience &amp; Cyber Risk&rdquo;.</b></p>
			<p><b>3. Plazo:</b><br /><br />
			La presente campa&ntilde;a se desarrollar&aacute; desde el d&iacute;a 11/12/2019 desde las 9.00hs hasta el
			13/12/2019 a las 18.00hs inclusive.</p>
			<p><b>4. Desarrollo de la acci&oacute;n y asignaci&oacute;n de premios. Detalle de premios:</b><br /><br />
			4.1. La acci&oacute;n consiste en que los Participantes, durante la vigencia de la misma, en
			cualquiera de los d&iacute;as detallados en el punto 3. de las presentes, participen de un juego de
			preguntas y respuestas a los efectos de quedar habilitados a participar de los sorteos
			definidos a continuaci&oacute;n.<br /><br />
			4.2. En la fecha de inicio de vigencia de la acci&oacute;n, a trav&eacute;s de la casilla de correo electr&oacute;nico
			<u>&ldquo;argentinanewz@zurich.com&rdquo;</u> Zurich enviar&aacute; a los participantes un flyer de la campa&ntilde;a el
			cual contendr&aacute; un c&oacute;digo QR para poder acceder al sitio web creado especialmente para el
			desarrollo de la misma. El participante deber&aacute; registrarse colocando su direcci&oacute;n de correo
			electr&oacute;nico y su DNI. Se realizar&aacute; una autenticaci&oacute;n del mail registrado contra una base de
			datos de Zurich para validar y registrar al jugador. Una vez registrado, el participante
			quedar&aacute; habilitado para comenzar a participar de las actividades de la acci&oacute;n.<br /><br />
			4.3. El primer paso para los participantes ser&aacute; el juego de encontrar las 3 (tres) huellas
			digitales que estar&aacute;n colocadas en distintas partes de las oficinas de Zurich y escanearlas
			con sus tel&eacute;fonos celulares para comenzar a responder las 15 (quince) preguntas sobre
			Business Resilience &amp; Cyber Risk, que se dividir&aacute;n en 3 (tres) etapas. Los participantes
			podr&aacute;n contestar las mismas en cualquier momento dentro de la vigencia de la acci&oacute;n,
			conforme lo establecido en el punto 3 de las presentes.<br /><br />
			4.4 <u>Detalle de contabilizaci&oacute;n de puntos y habilitaci&oacute;n para participar de los sorteos</u><br /><br />
			-4.4. a) -Cada respuesta correcta le asigna al participante 1 (uno) punto. Es decir, si
			responde correctamente las 15 (quince) preguntas tendr&aacute; acumulados 15 (quince) puntos.<br /><br />
			-4.4 b). -El participante que conteste el 100% de las preguntas en forma correcta quedar&aacute;
			habilitado para participar del sorteo diario que se efectuar&aacute; todos y cada uno de los d&iacute;as en
			el que dure la acci&oacute;n.<br /><br />
			-4.4 c). -El participante que haya completado el curso &ldquo;Information Security Awareness
			Training&rdquo; asignado a trav&eacute;s de GEMS y haya completado las 15 (quince) preguntas del
			juego participar&aacute; de un sorteo en el que se asignar&aacute;n lugares en un Escape Room. Cabe
			destacar que, cuantas mayores respuestas correctas registre el participante, mayores
			chances tendr&aacute; en el sorteo.<br /><br />
			-4.4 e) Los participantes que resulten ganadores del sorteo detallado en el punto 4.4 c)
			acceder&aacute;n a un sorteo adicional.<br /><br />
			Asignaci&oacute;n de premios:<br /><br />
			-<u>Premio Instant&aacute;neo:</u> Cada d&iacute;a de los cinco (5) que dura la acci&oacute;n, se asignar&aacute;n 60
			(sesenta) pares de entradas de cine junto con un (1) voucher para un combo de pochoclo y
			gaseosa, v&aacute;lidos en Cines Hoyts y Cinemark de todo el pa&iacute;s, entre aquellos participantes
			que registren finalizado el juego ese d&iacute;a. Los ganadores recibir&aacute;n 2 (dos) entradas y un
			voucher, ser&aacute;n v&aacute;lidos desde el d&iacute;a 15.12.2019 al 15.06.2019 inclusive.<br /><br />
			-<u>Sorteo &ldquo;Escape Room&rdquo;:</u>
			Los participantes que hayan cumplido las condiciones detalladas en el punto 4.4 c) podr&aacute;n
			acceder al sorteo que asignar&aacute; 40 (cuarenta) lugares en la actividad de &ldquo;Escape room&rdquo; a
			realizarse en la fecha que establezca e informe Zurich que ser&aacute; dentro de la &uacute;ltima semana
			de febrero 2020. Los 40 (cuarenta) ganadores ser&aacute;n divididos en 8 (ocho) equipos de 5
			(cinco) personas cada uno, conformados por sorteo.<br />
			En el supuesto que uno de los participantes ganadores no pueda participar de la actividad,
			Zurich asignar&aacute; su lugar a uno de los suplentes asignados en el sorteo.<br /><br />
			Una vez finalizada la actividad del Escape Room, los participantes que pertenezcan al equipo
			ganador, participaran de un sorteo en el que se asignar&aacute;un (1) Ipad y 4 (cuatro) &oacute;rdenes
			de compra por $10.000 (diez mil) en Falabella. La fecha del sorteo ser&aacute; establecida e
			informada oportunamente por Zurich.<br /><br />
			Lo sorteos ser&aacute;n realizados en presencia de un representante del &aacute;rea de Legal &amp;
			Compliance de Zurich.; siendo &eacute;ste la autoridad que verifique la realizaci&oacute;n en la forma
			indicada, la validez y autenticidad de la selecci&oacute;n.<br />
			La campa&ntilde;a, otorgar&aacute; un (1) premio por participante, no siendo los mismos acumulables.</p>
			<p><b>5. Canje de premios y condiciones :</b><br /><br />
			Los premios no son transferibles y no incluyen ninguna prestaci&oacute;n, servicio o derecho que
			aquel detallado en estas bases y condiciones. En ning&uacute;n caso se admitir&aacute; el canje del
			beneficio por dinero en efectivo o ning&uacute;n otro valor.<br /><br />
			Dentro de los 7 d&iacute;as h&aacute;biles de realizado el sorteo, Zurich comunicar&aacute; los ganadores a
			trav&eacute;s de la casilla de correo &ldquo;argentinanewz@zurich.com&rdquo;. En el mismo se incluir&aacute;n los
			lineamientos para el retiro del premio.<br /><br />
			En caso de que a la &eacute;poca de su adjudicaci&oacute;n, los premios descriptos en las presentes no se
			encontraran disponibles, se presente un caso de imposibilidad y/o necesidad, Zurich podr&aacute;
			reemplazarlos seg&uacute;n su propia discrecionalidad por otro de caracter&iacute;sticas similares.<br /><br />
			Se aclara expresamente que Zurich no ser&aacute; responsable por los da&ntilde;os y perjuicios que
			pudiera sufrir el ganador del premio, ya sea en su persona o bienes, con motivo o en
			ocasi&oacute;n del retiro o utilizaci&oacute;n del mismo. Tampoco ser&aacute; responsable en caso de
			insatisfacci&oacute;n y/o reclamo alguno por el premio recibido.<br /><br />
			Zurich tampoco asume responsabilidad alguna por el acaecimiento de cualquier
			inconveniente que impida al participante retirar el premio y/o hacer uso del voucher en el
			plazo estipulado. Todos los gastos de traslado que pudieran originarse para el retiro y/o en
			relaci&oacute;n con el premio, estar&aacute;n a cargo del participante.<br /><br />
			Los premios y/o vouchers que no sean retirados en tiempo y forma no podr&aacute;n ser
			reclamados.</p>
			<p><b>6. Baja o sanciones a los Participantes</b><br /><br />
			Zurich se reserva expresamente el derecho a dar de baja del sorteo a los Participantes que
			no cumplan con lo establecido en las presentes o por cualquier otra causa, su participaci&oacute;n
			resulte incompatible con los principios aqu&iacute; establecidos y/o normas y/o pol&iacute;ticas aplicables.<br /><br />
			Si por cualquier motivo, durante la vigencia de la acci&oacute;n y hasta la fecha de efectiva entrega
			de premios luego de realizado el sorteo, el participante ganador dejare de pertenecer a
			Zurich, quedar&aacute; autom&aacute;ticamente excluido y sin derecho alguno al reclamo de premios y/o
			indemnizaci&oacute;n alguna. Zurich se reserva el derecho a realizar un nuevo sorteo del premio en
			cuesti&oacute;n entre los participantes restantes (a los que no les hayan asignado un premio en el
			marco de la presente acci&oacute;n).</p>
			<p><b>7. Modificaciones</b><br /><br />
			Zurich podr&aacute; modificar sin previo aviso cualquiera de los puntos enunciados estas bases, por
			circunstancias imprevistas no imputables al mismo.<br /><br />
			Zurich se reserva el derecho de poner t&eacute;rmino o modificar la acci&oacute;n y/o el Sorteo en caso de
			existir situaciones que as&iacute; lo justifiquen como imposibilidad material, dificultades t&eacute;cnicas o
			cualquier otro factor fuera de control de Zurich.<br /><br />
			Zurich se reserva el derecho de establecer y pronunciarse sobre aquellas situaciones o
			circunstancias que no se encuentren aqu&iacute; previstas.</p>
			<p><b>8. Resoluci&oacute;n de conflictos</b><br /><br />
			Toda cuesti&oacute;n que se suscite en relaci&oacute;n con la presente Acci&oacute;n ser&aacute; resuelta en forma
			definitiva e inapelable por Zurich.</p>
			<p><b>9. Conocimiento de bases y condiciones. Responsabilidad. Conformidad</b><br /><br />
			La participaci&oacute;n en la presente acci&oacute;n implica, por parte del Participante, el conocimiento y
			la aceptaci&oacute;n de las presentes bases y condiciones, as&iacute; como su expresa conformidad a la
			publicaci&oacute;n y divulgaci&oacute;n de la informaci&oacute;n necesaria y/o su imagen a fin de llevarla a cabo,
			eximiendo a Zurich de toda responsabilidad con motivo de ello. En tal sentido, Zurich no
			ser&aacute; responsable por los da&ntilde;os o perjuicios de cualquier tipo que pudiese sufrir el Ganador
			del Premio, los Participantes o terceras personas, con motivo, en ocasi&oacute;n de o en relaci&oacute;n
			con el Premio asignado en el Sorteo.<br /><br />
			Los Participantes de la Acci&oacute;n otorgan consentimiento expreso Zurich para utilizar y/o
			difundir sus nombres, n&uacute;meros de documentos, im&aacute;genes personales y efectuar la
			publicidad por los medios y formas que resulten m&aacute;s convenientes sin derecho a
			compensaci&oacute;n y/o retribuci&oacute;n alguna; todo ello conforme al art. 5 de la Ley 25.326 y el
			derecho a disponer de la propia imagen previsto en la Ley 11.723.</p>
			<p><b>10. Datos personales</b><br /><br />
			Los Participantes tienen derecho de acceso y correcci&oacute;n de los datos personales recopilados
			por Zurich en ocasi&oacute;n de la presente, as&iacute; como a solicitar la remoci&oacute;n o bloqueo de la base
			de datos en cualquier oportunidad. La remoci&oacute;n de la base de datos puede implicar la
			imposibilidad de participaci&oacute;n en la presente. Por el contrario, la mera participaci&oacute;n se
			entender&aacute; como aceptaci&oacute;n respecto a que los datos personales de los Participantes sean
			recopilados en una base de datos y que los mismos podr&aacute;n ser usados por Zurich en el
			marco de la acci&oacute;n para finalidades de publicidad y/o marketing.</p>
			<center><a href="#" onClick="HideBYC()">ACEPTAR</a></center>
		</div>
		<div class="preguntas">
			<ul>
				<li><a href="#" onClick="doCorrect(this)"><img src="./Boton-seleccion-rta.png" border=0 />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper.</a></li>
				<li><a href="#" onClick="doWrong(this)"><img src="./Boton-seleccion-rta.png" border=0 />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper.</a></li>
				<li><a href="#" onClick="doWrong(this)"><img src="./Boton-seleccion-rta.png" border=0 />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper.</a></li>
			</ul>
		</div>
		<div class="correcta">
			<div class="container">
				<p class="label_correcta">LA RESPUESTA CORRECTA ES:</p>
				<p class="respuesta_correcta">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper.</p>
				<a href="#" onClick="nextQuestion()"><img src="./Boton-siguiente-pregunta.png" border=0 /></a>
			</div>
		</div>
		<div class="puntaje">
			<div class="consigna">Busc&aacute; las otras huellas dactilares para terminar<br />la trivia y ganarte incre&iacute;bles premios.</div>
			<div class="globa"><h1>¡FELICITACIONES!</h1><br /><p class="etapa">Completaste la primera etapa<br />Respondiste correctamente</p><br /><h1 class="correctas">2/3</h1></div>
		</div>
		<div class="felicitaciones"></div>
		<div class="timer"></div>
	</div>

</body>

</html>